<!--<mat-drawer-container class="container">-->
<!--  <mat-drawer mode="side" class="sidenav-left" opened>-->
<!--    &lt;!&ndash;    Categories button&ndash;&gt;-->
<!--    <button (click)="showCategories = !showCategories" mat-button>-->
<!--      <h2>Categories</h2>-->
<!--    </button>-->
<!--    <div *ngFor="let category of categories">-->
<!--      <a routerLink="/category/{{category.categoryId}}" *ngIf="showCategories">{{category.categoryName}}</a>-->
<!--    </div>-->
<!--    &lt;!&ndash;    Situations button&ndash;&gt;-->
<!--    <button (click)="showSituations = !showSituations" mat-button>-->
<!--      <h2>My Situations</h2>-->
<!--    </button>-->
<!--    <div *ngFor="let situation of situations">-->
<!--      <a routerLink="/situation/{{situation.situationId}}" *ngIf="showSituations">{{situation.situationName}}</a>-->
<!--    </div>-->
<!--    &lt;!&ndash;    Tips button&ndash;&gt;-->
<!--    <button (click)="showTips = !showTips" mat-button>-->
<!--      <h2>My Tips</h2>-->
<!--    </button>-->
<!--    <div *ngFor="let tip of tips">-->
<!--      <a routerLink="/tip/{{tip.tipId}}" *ngIf="showTips">{{tip.tipName}}</a>-->
<!--    </div>-->

<!--  </mat-drawer>-->
<!--  <mat-drawer-content>-->
<!--    <div class="categories" *ngFor="let category of categories">-->
<mat-card class="categories" *ngFor="let category of categories">
  <a routerLink="/category/{{category.categoryId}}">
    <mat-card-header>
      <mat-card-title class="name">{{category.categoryName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{category.categoryImage}}" alt="Image of {{category.categoryName}}">
    <mat-card-content>
      <p class="title">{{category.categoryTitle}}</p>
    </mat-card-content>
  </a>
</mat-card>
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->
