mat-card {
  /*background: transparent;*/
  /*border: 2px solid #FFFFFF;*/
  padding: 15px;
  margin: 10px;
  /*text-align: center;*/
  /*height: 450px;*/
  /*width: 450px;*/
  max-width: 400px;
}

.sidenav-left {
  width: 300px;
}

.sidenav {
  padding: 20px;
}

.name {
  text-align: left;
  font-weight: bolder;
  font-size: 16pt;
  font-family: "Century Gothic";
}

.title {
  text-align: left;
  font-weight: lighter;
  font-size: 12pt;
  font-family: "Century Gothic";
}

.categories {
  display: inline-grid;
  align-items: stretch;
}

.container {
  width: auto;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
